/*Estilos Generales*/
@import url('https://fonts.googleapis.com/css?family=Suranna');


body{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    position: relative;
   background-image: url(../IMG/call.jpg);
    
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}


h1{
    color: #fff; 
    margin: 0;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Suranna', serif;

}

input, textarea{
    width: 100%;
 margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}
    
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #313850;
    color: #FFF;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}


@media (max-width: 480px){
    form{
        width: 100%;
    }
}
